{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-5.3.0/css/bootstrap.min.css' %}">
    <script src="{% static 'plugins/echarts/echarts.js' %}"></script>
</head>
<body>

<div class="container">
    <div>
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="" class="form-label" style="padding-left: 600px; font-weight: bold;font-size: 1.5rem">添加部门</label>
                <input type="text" class="form-control" name="name" placeholder="部门名字">
            </div>
            <div style="padding-left: 610px;">
                <button  type="submit" class="btn btn-primary btn-lg">提交</button>
            </div>
        </form>
    </div>
    <table class="table table-striped table-hover" style='vertical-align: middle;text-align: center;'>
        <thead>
        <tr>
            <th scope="col">部门总数</th>
            <th scope="col">员工总数</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td style="font-weight: bold">{{ depart_count }}</td>
            <td style="font-weight: bold">{{ staff_count }}</td>
        </tr>
        </tbody>
    </table>
    <div id="main" style="width:100%; height: 600px"></div>
</div>


<script>

    var chartDom = document.getElementById('main');
    var myChart = echarts.init(chartDom);
    var option;

    option = {
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'shadow'
            }
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis: [
            {
                type: 'category',
                data: {{ names|safe }},
                axisTick: {
                    alignWithLabel: true
                }
            }
        ],
        yAxis: [
            {
                type: 'value'
            }
        ],
        series: [
            {
                name: '员工数目',
                type: 'bar',
                barWidth: '60%',
                data: {{ counts }}
            }
        ]
    };

    option && myChart.setOption(option);

</script>
</body>
</html>