{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-5.3.0/css/bootstrap.min.css' %}">
</head>
<body>

<div class="container">
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th scope="col">会议ID</th>
            <th scope="col">会议主题</th>
            <th scope="col">会议日期</th>
            <th scope="col">开始时间</th>
            <th scope="col">结束时间</th>
            <th scope="col">会议内容</th>
        </tr>
        </thead>
        <tbody>
        {% for obj in meetingset %}
            <tr>
                <th scope="row">{{ obj.meetingno }}</th>
                <td>{{ obj.meetingname }}</td>
                <td>{{ obj.meetingdate|date:"Y-m-d" }}</td>
                <td>{{ obj.meetingstarttime }}</td>
                <td>{{ obj.meetingendtime}}</td>
                <td>{{ obj.meetingcontent }}</td >
            </tr>
        {% endfor %}


        </tbody>
    </table>
</div>

</body>
</html>